<% if (errors && errors.length > 0) { %>
  <% errors.forEach(err => { %>
    <p style="color:red;"><%= err.msg %></p>
  <% }) %>
<% } %>

<form method="POST" action="/auth/login">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button>Login</button>
</form>